<!doctype html>
<html lang="en">
<head>
    
    <!-- Last Vue2, Vue3 uses different syntax -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <title>No</title>
</head>
<body>
    <h1>Hello, world!</h1>

    
    <div id="shop">
<!-- sidebar to select the sorting for the products -->
        <div class="sidebar" v-show="shopStage">
            <h3>Sort by</h3>
            <ul>
<!-- sort by different fields -->
                <li v-for="sort in sorts" v-bind:class="sort == selectedSort ? 'active' : 'inactive'" v-on:click="selectedSort = sort">
                    {{ sort }} 
                </li>
                
<!-- sort by ascending or descending order -->
            </ul>
            <ul>
                <li v-bind:class="selectedOrder === 'ascending' ? 'active' : 'inactive'" v-on:click="selectedOrder = 'ascending'">
                    Ascending
                </li>
                <li v-bind:class="selectedOrder === 'descending' ? 'active' : 'inactive'" v-on:click="selectedOrder = 'descending'">
                    Descending
                </li>
            </ul>
        </div>
        <!-- checkout button -->
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary" @click="checkout()" v-show="shopStage">Checkout</button>
            </div>
        </div>
<!-- main content -->
<!-- Vue for loop to get all products in our product array within vue and print them in the selected sort and selected order -->

        <div class="container" v-for="(item, index) in sortedProducts" v-show="shopStage">
            <div class="row" v-if="index == 0 || index%2 == 0">
                <div class="col-4">
                    <img :src="item.image" alt="image" class="img-fluid">
                    <h2>Subject: {{item.name}}</h2>
                    <p>Description: {{item.description}}</p>
                    <p>Price: {{item.price}}</p>
                    <p>Availability: {{item.availability}}</p>
                    <p>Location: {{item.location}}</p>
                    <button class="btn btn-primary" @click="addToCart(index)" v-if="canAddToCart(index)" >Add to cart</button>
                    <button class="btn btn-primary" @click="addToCart(index)" v-else disabled >Out of stock</button>
                </div>
            </div>
            
            <div class="col-4" v-else >
                <img :src="item.image" alt="image" class="img-fluid">
                <h2>Subject: {{item.name}}</h2>
                <p>Description: {{item.description}}</p>
                <p>Price: {{item.price}}</p>
                <p>Availability: {{item.availability}}</p>
                <p>Location: {{item.location}}</p>
                <button class="btn btn-primary" @click="addToCart(index)" v-if="canAddToCart(index)" >Add to cart</button>
                <button class="btn btn-primary" @click="addToCart(index)" v-else disabled >Out of stock</button>
                
            
            </div>
            
        </div>


<!-- 
    checkout reads the array of products inside the cart, and prints them with the quantity, multiplying the product price with the quantity to get each sum of prices
 -->
        <div id="checkout" v-show="checkoutStage" >
            <h1>Checkout</h1>
            <div class="row" v-for="(item, index) in cart.product">
                <div class="col-4">
                    <img :src="item.image" alt="image" class="img-fluid">
                    <h2>Subject: {{item.name}}</h2>
                    <p>Description: {{item.description}}</p>
                    <p>Price: {{item.price}}</p>
                    <p>Quantity: {{cart.quantity[index]}}</p>
                    <p>Sum: {{item.price * cart.quantity[index]}}</p>
                </div>
            </div>
<!-- Total price and complete checkout process -->
            <div class="row">
                <div class="col-4">
                    <h2>Total price: {{cart.totalPrice}}</h2>
                    <button class="btn btn-primary" @click="completeCheckout()">Complete checkout</button>
                    <button class="btn btn-primary" @click="goBack()">Go Back</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./vueCode.js"></script>
</body>
</html>
