<!doctype html>
<html lang="en">
<head>
    
    <!-- Last Vue2, Vue3 uses different syntax -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <title>No</title>
</head>
<body>
    <h1>Hello, world!</h1>

    
    <div id="shop">
        <!-- sidebar to select the sorting for the products -->
        <div class="sidebar" v-show="shopStage">
            <h3>Sort by</h3>
            <ul>
<!-- sort by different fields -->
                <li v-for="sort in sorts" v-bind:class="sort == selectedSort ? 'active' : 'inactive'" v-on:click="selectedSort = sort">
                    {{ sort }} 
                </li>
                
<!-- sort by ascending or descending order -->
            </ul>
            <ul>
                <li v-bind:class="selectedOrder === 'ascending' ? 'active' : 'inactive'" v-on:click="selectedOrder = 'ascending'">
                    Ascending
                </li>
                <li v-bind:class="selectedOrder === 'descending' ? 'active' : 'inactive'" v-on:click="selectedOrder = 'descending'">
                    Descending
                </li>
            </ul>
        </div>
        <!-- checkout button -->
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary" @click="checkout()" v-show="shopStage">Checkout</button>
            </div>
        </div>
<!-- main content -->
<!-- Vue for loop to get all products in our product array within vue and print them in the selected sort and selected order -->

        <div class="container" v-for="(item, index) in sortedProducts" v-show="shopStage">
            <div class="row" v-if="index == 0 || index%2 == 0">
                <div class="col-4">
                    <img :src="item.image" alt="image" class="img-fluid">
                    <h2>Subject: {{item.name}}</h2>
                    <p>Description: {{item.description}}</p>
                    <p>Price: {{item.price}}</p>
                    <p>Availability: {{item.availability}}</p>
                    <button class="btn btn-primary" @click="addToCart(index)" v-if="canAddToCart(index)" >Add to cart</button>
                    <button class="btn btn-primary" @click="addToCart(index)" v-else disabled >Out of stock</button>
                </div>
            </div>
            
            <div class="col-4" v-else >
                <img :src="item.image" alt="image" class="img-fluid">
                <h2>Subject: {{item.name}}</h2>
                <p>Description: {{item.description}}</p>
                <p>Price: {{item.price}}</p>
                <p>Availability: {{item.availability}}</p>
                <button class="btn btn-primary" @click="addToCart(index)" v-if="canAddToCart(index)" >Add to cart</button>
                <button class="btn btn-primary" @click="addToCart(index)" v-else disabled >Out of stock</button>
                
            
            </div>
            
        </div>


<!-- 
    checkout reads the array of products inside the cart, and prints them with the quantity, multiplying the product price with the quantity to get each sum of prices
 -->
        <div id="checkout" v-show="checkoutStage" >
            <h1>Checkout</h1>
            <div class="row" v-for="(item, index) in cart.product">
                <div class="col-4">
                    <img :src="item.image" alt="image" class="img-fluid">
                    <h2>Subject: {{item.name}}</h2>
                    <p>Description: {{item.description}}</p>
                    <p>Price: {{item.price}}</p>
                    <p>Quantity: {{cart.quantity[index]}}</p>
                    <p>Sum: {{item.price * cart.quantity[index]}}</p>
                </div>
            </div>
<!-- Total price and complete checkout process -->
            <div class="row">
                <div class="col-4">
                    <h2>Total price: {{cart.totalPrice}}</h2>
                    <button class="btn btn-primary" @click="completeCheckout()">Complete checkout</button>
                    <button class="btn btn-primary" @click="goBack()">Go Back</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="application/javascript">
        var shopApp = new Vue({
            el: '#shop',
            data: {
/* Array for our products */
                product: [
                    {name: 'Math', price: 50, availability: 5, image: 'https://www.mathsisfun.com/numbers/images/number-line-0-100.svg', description: 'Math is a subject'},
                    {name: 'English', price: 40, availability: 10, image: 'https://www.englishclub.com/images/vocabulary/letters/letter-a.jpg', description: 'English is a subject'},
                    {name: 'Science', price: 30, availability: 15, image: 'https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__340.jpg', description: 'Science is a subject'},
                    {name: 'History', price: 20, availability: 20, image: 'https://www.history.com/.image/t_share/MTU3NjM4MjQwNjQ5MjQyNjQy/history-logo.jpg', description: 'History is a subject'},
                    {name: 'Geography', price: 10, availability: 25, image: 'https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__340.jpg', description: 'Geography is a subject'}
                ],
/* Array for our cart where referenced items will be held */
                cart: {product: [], quantity: [], totalPrice: 0},
                total: 0,
                sorts: ['name', 'price', 'availability'],
                selectedSort: 'name',
                selectedOrder: 'ascending',
                checkoutStage: false,
                shopStage: true
            },
            methods: {
/* Adds a single product to the cart, if it exists, it increases the quantity by one and does not push the item */
                addToCart: function (index) {
                    if (this.cart.product.indexOf(this.product[index]) == -1) {
                        this.cart.product.push(this.product[index]);
                        this.cart.quantity.push(1);
                    } else {
                        this.cart.quantity[this.cart.product.indexOf(this.product[index])] += 1;
                    }
                    this.product[index].availability -= 1;
                    this.cart.totalPrice += this.product[index].price;
                },
/* Removes a single item from the cart and adds the availability back to the product list,
if it is the last product to be removed, also remove the entry from the carts products */
                removeFromCart: function (index) {
                    var cartIndex = this.cart.product.indexOf(this.product[index]);
                    this.cart.quantity[cartIndex] -= 1;
                    this.product[index].availability += 1;
                    this.cart.totalPrice -= this.product[index].price;
                    if (this.cart.quantity[cartIndex] == 0) {
                        this.cart.product.splice(cartIndex, 1);
                        this.cart.quantity.splice(cartIndex, 1);
                    }
                },
/* Clears up the cart completely by removing one by one the taken products
run through all cart and remove items while there is quantity */
                clearCart: function () {
                    for (var i = 0; i < this.cart.product.length; i++) {
                        while(this.cart.quantity[i] > 0) {
/* find the index of the product in the cart and remove it
the removeFromCart takes the index of the product, not the index of the cart */
                            this.removeFromCart(this.product.indexOf(this.cart.product[i]));
                        }
                    }
                },
/* Clears the cart, prompts a message thanking for the purchase but does not return the availability to the items */
                checkout: function () {
                    this.checkoutStage = true;
                    this.shopStage = false;
                },
                
                goBack: function () {
                    this.checkoutStage = false;
                    this.shopStage = true;
                },
/* Adds up the price in the cart */
                getCartTotal: function () {
                    var total = 0;
                    for (var i = 0; i < this.cart.length; i++) {
                        total += this.cart[i].price;
                    }
                    return total;
                },
/* Takes the number of taken classes and returns the total price */
                getCartCount: function () {
                    var count = 0;
                    for (var i = 0; i < this.cart.length; i++) {
                        count += this.cart[i].taken;
                    }
                    return count;
                },
                canAddToCart: function (index) {
                    return this.product[index].availability > 0;
                },
                completeCheckout: function () {
                    this.cart = {product: [], quantity: [], totalPrice: 0};
                    alert('Thank you for your purchase!');
                    this.goBack();
                }
            },
            computed: {
/* Sorts the products depending on the selected sort
Idea from: https://stackoverflow.com/questions/42883835/sort-an-array-in-vue-js */
                sortedProducts: function () {
                    return this.product.sort((a, b) => {
                        if (this.selectedOrder === 'ascending') {
                            return a[this.selectedSort] > b[this.selectedSort] ? 1 : -1;
                        } else {
                            return a[this.selectedSort] < b[this.selectedSort] ? 1 : -1;
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>